<div class="container">
  <%= simple_form_for fixed do |f| %>
    <%= f.input :title %>
    <%= f.input :periodicity, collection: [["Mensual", 0], ["Semanal", 1]]  %>
    <%= f.input :amount %>
    <%= f.input :income, as: :radio_buttons, collection: [[false, 'Egreso'], [true, 'Ingreso']], label_method: :second, value_method: :first %>
    <%= f.input :category %>
    <%= f.date_field :start_date, class: "form-control" %>
    <%= f.association :account, collection: current_user.accounts %>
    <%= f.submit %>
  <% end %>
</div>
