<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "HOMINANCING", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu desplegable -->
    <div class="navbar-links d-flex justify-content-between">
      <%= link_to "Cuentas", accounts_path, class:"text-decoration-none nav-link" %>
      <%= link_to "Registros", records_path, class:"text-decoration-none nav-link" %>
      <%= link_to "Gastos programados", fixeds_path, class:"text-decoration-none nav-link" %>
      <%= link_to "Planes", plans_path, class:"text-white text-decoration-none nav-link" %>
      <%= current_user.nickname %>
    </div>
  </div>
</div>
