 <div class="modal fade" id="myModal<%= record.id %>" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalles del registro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "accounts/account_card", account: record.account %>
          <p><span class="fw-bold">Antiguo balance:</span> <%= record.income ? record.result - record.amount : record.result + record.amount %><p>
          <p><span class="fw-bold">Monto del registro:</span> USD <%= record.amount %></p>
          <p><span class="fw-bold">Nuevo balance:</span> <%= record.result %></p>
          <p><span class="fw-bold">Fecha de creación:</span> <%= record.created_at.strftime('%d de %B del %Y') %></p>
        </div>
          <div class="modal-footer">
            <%= link_to "Editar", edit_record_path(record), class: "text-decoration-none btn btn-primary text-white" %>
            <% if Time.now - record.created_at < 300 %>
              <span data-controller = "destroy" data-destroy-title-value = "¿Seguro que quieres eliminar este registro?">
                <i class="fa-solid fa-trash text-primary"data-action = "click->destroy#delete"></i>
                <%= link_to record_path(record), class: "d-none", data: { turbo_method: :delete, destroy_target: "del"}  do %>
                <% end %>
              </span>
            <% end %>
          </div>
      </div>
    </div>
  </div>
