 <div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalles del registro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><span class="fw-bold">Título:</span> <%= record.account.name %></p>
          <p><span class="fw-bold">Monto:</span> USD <%= record.amount %></p>
          <p>Balance de la cuenta: <%= record.result - record.amount %><p>
          <p><span class="fw-bold">Fecha de creación:</span> <%= record.created_at.strftime('%d de %B del %Y') %></p>
        </div>
        <div class="modal-footer">
          <%= link_to "Eliminar", record_path(record), class: "text-decoration-none btn btn-danger text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%= link_to "Editar", edit_record_path(record), class: "text-decoration-none btn btn-primary text-white" %>
        </div>
      </div>
    </div>
  </div>
