<div class="container">
  <div class="d-flex justify-content-between cards-list">
      <% @accounts.each do |account| %>
        <div class="px-2 my-3">
          <%= render "accounts/account_card", account: account %>
        </div>
      <% end %>
  </div>
  <%= form_with url: dashboard_path, method: :get, class: "row mt-5 d-flex align-items-end", data: {controller: "date-search"} do |f| %>
        <div class="col-sm-6 col-md-4 mb-3">
          <%= label_tag :start_date, "fecha de inicio" %>
          <%= date_field_tag :start_date, params[:start_date],
          data: {date_search_target: "startDate", action: "change->date-search#setMin"},
          class:"form-control"%>
        </div>
        <div class="col-sm-6 col-md-4 mb-3">
          <%= label_tag :end_date, "fecha fin" %>
          <%= date_field_tag :end_date, params[:end_date],
          data: {date_search_target: "endDate", action: "change->date-search#setMax"},
          class:"form-control"%>
        </div>
        <%= submit_tag "filtrar", class: "col col-md-4 mb-3 btn btn-outline-primary h-50" %>
      <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 my-5">
      <%= line_chart @tendency, title: "Tendencia del saldo", colors: @colors, points: false %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 my-5">
      <%= pie_chart @expence, title: "Gastos por categoria" %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 my-5">
      <h5 class="text-center title">Proximos Pagos Programados</h5>
      <div class="cards-list">
        <% @fixeds.each do |fixed| %>
          <%= render "fixeds/fixed_card", fixed: fixed %>
        <% end %>
      </div>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-6 my-5">
      <h5 class="text-center title">Proximos Planes</h5>
      <div class="cards-list">
        <% @plans.each do |plan| %>
          <div class="mb-2">
            <%= render "plans/plan_card", plan: plan %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
