<%= simple_form_for(@plan) do |f| %>
  <%= f.input :title, label: "Título" %>
  <%= f.input :goal, label: "Meta" %>
  <%= f.input :color, as: :color, input_html: { list: "options" } %>
  <datalist id="options">
    <% @colors.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
    <% end %>
  </datalist>
  <%= f.label "Fecha" %>
  <%= f.date_field :date, class: "form-control" %>
  <%= f.submit value: "Editar plan", class: "button w-100" %>
<% end %>
