<%= link_to plan_path(plan), class: "text-decoration-none" do %>
  <div class="card plan-card mx-lg-3" style="background-color: <%= plan.color %>;">
    <div class="card-body d-lg-flex justify-content-lg-between align-items-lg-center">
      <div class="d-lg-flex align-items-lg-center">
        <i class="fa-solid fa-piggy-bank fs-3 me-lg-2"></i>
        <div class="d-lg-flex flex-column">
          <div>
            <div><%= plan.title %></div>
            <div>Bs. <%= plan.goal %>
                <i class="mx-3 fa-solid fa-arrow-right-arrow-left"></i>
                USD. <%= number_with_precision(plan.goal / @dolar_price, precision: 2) %></div>
            <% if plan.status == 'culminado' || plan.balance >= plan.goal %>
              <div>Estado: Culminado</div>
            <% else %>
              <div>Estado: En progreso</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-lg-flex flex-column text-lg-end mt-lg-0 mt-2">
        <small>Fecha de meta: <%= plan.date.strftime('%Y-%m-%d') if plan.date.present? %></small>
        <div class="mt-2">Balance: Bs. <%=(plan.balance) %>
            <i class="mx-3 fa-solid fa-arrow-right-arrow-left"></i>
            USD. <%= number_with_precision(plan.balance / @dolar_price, precision: 2) %></div>
        <% if plan.progress_percentage.present? %>
          Avance del progreso: <%= plan.progress_percentage %> %
        <% end %>
      </div>
    </div>
    <div class="plan-card progress mb-2" style="width: calc(100% - 30px); height: 10px; margin-left: 15px;">
      <div class="progress-bar rounded progress-bar-striped bg-success" role="progressbar"
           style="width: <%= plan.progress_percentage %>%;"
           aria-valuenow="<%= plan.progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
<% end %>
