<%= simple_form_for(account) do |f| %>
  <%= f.input :name, label: "Nombre" %>
  <%= f.input :balance, label: "Balance" %>
  <%= f.input :color, label: "Color", as: :color, input_html: {list: "options"}%>
  <datalist id="options">
    <% colors.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
    <% end %>
  </datalist>
  <%= f.submit class: "button w-100" %>
<% end %>
