<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <h2>Nueva Cuenta</h2>
      <%= render "new_account", account: @account %>
    </div>
    <div class="col-8">
      <div class="row">
        <% @accounts.each do |account| %>
          <div class="col-6 mb-3">
            <%= link_to account_path(account), class: "text-decoration-none" do %>
                <div class="card account-card shadow" style = "background-color: <%= account.color %>;">
                  <div class="card-body d-flex justify-content-between">
                    <div>
                      <i class="fa-solid fa-coins"></i>
                      <%= account.name %>
                    </div>
                    <div>
                      <%= account.balance %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
