<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to account_path(@account), class: "text-decoration-none text-white" do %>
        <div class="card account-card my-5" style="background-color: <%= @account.color %>;">
          <div class="card-body d-flex justify-content-between d-flex align-items-center">
            <div class="d-flex d-flex align-items-center">
              <i class="fa-solid fa-coins fs-1 me-3"></i>
              <div>
                <div><%= @account.name %></div>
                <div><%= @account.balance %></div>
              </div>
            </div>
            <div>
              <i class="fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#editModal"></i>
              <%= link_to account_path(@account), data: {turbo_method: :delete, turbo_confirm: "are you sure"}, class: "text-decoration-none text-white" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col my-5 d-flex align-items-center">
      <%= form_with url: account_path(@account), method: :get, class: "row", data: {controller: "date-search"} do |f| %>
        <div class="col">
          <%= date_field_tag :start_date, params[:start_date], data: {date_search_target: "startDate", action: "change->date-search#setMin"} %>
        </div>
        <div class="col">
          <%= date_field_tag :end_date, params[:end_date], data: {date_search_target: "endDate", action: "change->date-search#setMax"} %>
        </div>
        <div class="col d-flex">
          <%= label_tag "Ingreso"%>
          <%= radio_button_tag :income, params[:income], value: "T", class: "ms-1" %>
        </div>
        <div class="col d-flex">
          <%= label_tag "Egreso"%>
          <%= radio_button_tag :income, params[:income], value: "F", class: "ms-1" %>
        </div>
        <%= submit_tag "filtrar", class: "col" %>
      <% end %>
    </div>
  </div>

  <button type="button" class="button-fixed bg-success" data-bs-toggle="modal" data-bs-target="#newRecordModal">
    +
  </button>

  <div class="row">
    <div class="col-6">
      <%= area_chart @tendency, title: "Tendencia del saldo", colors: [@account.color] %>
    </div>
    <div class="col-6">
      <%= pie_chart @expence, title: "gastos por categoria" %>
    </div>
  </div>

  <%= console %>

  <h2>Registros</h2>
  <% @records.each do |record| %>
    <%= render "records/record", record: record %>
    <%= render "records/record-modal", record: record %>
  <% end %>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Cambiar datos de cuenta</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "edit_account", account: @account, colors: @colors %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newRecordModal" tabindex="-1" aria-labelledby="#newRecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Nuevo registro</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @account.records.new do |f| %>
          <%= f.input :amount %>
          <%= f.input :income, as: :radio_buttons, collection: [[false, 'Egreso'], [true, 'Ingreso']], label_method: :second, value_method: :first %>
          <%= f.association :account, as: :hidden %>
          <%= f.input :note %>
          <%= f.input :category %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
